.squats-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh; /* Ensures the div takes up the full viewport height */
    justify-content: center; /* Centers the contents vertically */
}

.feedback {
    margin-top: 20px;
}

button {
    margin-top: 10px;
}

.end-session-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.end-session-button:hover {
    background-color: #45a049;
}
